http:
  routers:
    traefik-dashboard:
      rule: "PathPrefix(`/traefik`)"
      entryPoints:
        - websecure
      service: api@internal
      middlewares:
        - traefik-strip-prefix@file
        - authentik-forward-auth@file

  middlewares:
    traefik-strip-prefix:
      stripPrefix:
        prefixes:
          - "/traefik"
